<form>
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="form2Example1" class="form-control" placeholder="Order Id" />
    <label class="form-label" for="form2Example1">Order Id </label>
  </div>
  <div class="form-outline mb-4">
    <input type="Product Id" id="product_id" class="form-control" placeholder="Product ID" />
    <label class="form-label" for="product_id">Product Id </label>
  </div>
  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="Text" id="form2Example2" class="form-control" />
    <label class="form-label" for="form2Example2">Status</label>
  </div>

  <!-- 2 column grid layout for inline styling -->

  <div class="row col-2">
    <button type="button" class="btn btn-primary btn-block mb-4">Search</button>
    <!-- Submit button -->
  </div>




</form>

